---
Checks: 'clang-diagnostic-*,clang-analyzer-*,*,-llvm-header-guard,-hicpp-no-assembler,-cert-err58-cpp,-google-readability-function-size,-hicpp-function-size,-readability-function-size,-fuchsia-default-arguments'
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!gsl_).*'
