[submodule "3rdparty/Catch"]
	path = 3rdparty/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "3rdparty/yaml-cpp"]
	path = 3rdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
