commands:                       # Define the commands that can be run
    example: run the command-line example

patterns:                       # Define the patterns that can be used
    EXAMPLE_PATTERN:            # Define the EXAMPLE_PATTERN.
        default-values:         # Define the default value
            - world!

example:
    - command-line-command      # Use the command-line-command plugin when running the 'example' command

command-line-command:           # Command-line-command configuration settings
    example:                    # Settings specific to the 'example' command
        environment:            # Define the environment
            EXAMPLE_ENVIRONMENT: hello
        patterns:               # Define the patterns that are used
            - EXAMPLE_PATTERN
        command-line:           # Define 2 command lines
            - hello: [echo, "${EXAMPLE_ENVIRONMENT}"]
            - world:            # The same as [echo, "{EXAMPLE_PATTERN}"]
                - echo
                - "{EXAMPLE_PATTERN}"
            - workingdir: [ echo, working, directory, is, "$(pwd)"]     # Print out the current working directory
        working-dir: /tmp       # Set the working directory to a predefined value
