commands:                       # Define the commands that can be run
    example: Run the make example
    clean: Clean the build
    run: Run the files that were built

patterns:                       # Define the patterns that can be used
    MAKE_TARGET:            # Define the EXAMPLE_PATTERN.
        default-values:         # Only define the default value
            - hello
            - world

example:
    - clean
    - make                      # Use the make plugin when running the 'example' command
    - run

clean:                          # Use the make plugin when running the 'clean' command
    - make

run:
    - command-line-command

make:
    environment:                        # Define additional environment variables
        WORLD: "world!"
    example:                    # Specific settings for the 'example' command
        patterns:                   # The patterns that are used by the make plugins
            - MAKE_TARGET
        build-dir: $(pwd)       # Set the build dir
        command-line:           # Define additional command line arguments
            - --keep-going      # An example argument passed to make
            - "{MAKE_TARGET}"   # Define the make target to execute
    clean:
        command-line:
            - clean

command-line-command:
    patterns:
        - MAKE_TARGET
    command-line:
        - build/{MAKE_TARGET}
