commands:                       # Define the commands that can be run
    example: Run the scons example
    clean: Clean all built files
    run: Run the built binaries

patterns:                       # Define the patterns that can be used
    SCONS_TARGET:            # Define the EXAMPLE_PATTERN.
        default-values:         # Only define the default value
            - hello
            - world

example:
    - clean
    - scons                     # Use the command-line-command plugin when running the 'example' command
    - run

clean:
    - command-line-command

run:
    - command-line-command

scons:
    patterns:                   # The patterns that are used by the make plugins
        - SCONS_TARGET
    example:                    # Specific settings for the 'example' command
        command-line:           # Define additional command line arguments
            - --keep-going      # Pass additional options to scons
            - "{SCONS_TARGET}"  # Define the make target to execute

command-line-command:
    clean:
        command-line: [rm, -rf, build]
    run:
        patterns:
            - SCONS_TARGET
        command-line: ["build/{SCONS_TARGET}"]
