---
Checks: 'clang-diagnostic-*,clang-analyzer-*,*,-llvm-header-guard,-fuchsia-overloaded-operator,-fuchsia-default-arguments*,-fuchsia-trailing-return,-llvmlibc-*'

WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!gsl_).*'
