---
Checks: 'clang-diagnostic-*,clang-analyzer-*,*,-llvm-header-guard,-fuchsia-default-arguments,-fuchsia-overloaded-operator,-clang-analyzer-core.NonNullParamChecker'

WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!gsl_).*'
