---
Checks: 'clang-diagnostic-*,clang-analyzer-*,*,-llvm-header-guard,-fuchsia-default-arguments,-fuchsia-default-arguments-calls,-fuchsia-trailing-return,-llvmlibc-*,-google-build-using-namespace'

WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!gsl).*'
